.cafe-modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  .modal {
    position: absolute;
    top: 20%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: 450px;
    text-align: center;
  }
  .modal-text{
      margin-top: 15px;
      margin-bottom: 20px;
  }
  .fa {
    margin-right: 5px;
  }

  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
  @media(max-width: 800px){
    .cafe-modal-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 100;
      display: none;
    }
    
    .modal {
      position: absolute;
      top: 20%;
      left: 5%;
      background-color: #e6ecf0;
      padding: 20px 0 40px;
      border-radius: 10px;
      width: 90%;
      height: 50%;
      text-align: center;
    }
    .modal-text{
       font-size: 20px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .fa {
      margin-right: 5px;
    }
   .bokunatsu-bot-text{
     font-size: 13px;
   }
    .fa-times {
      position: absolute;
      top: 12px;
      right: 12px;
      color: rgba(128, 128, 128, 0.46);
      cursor: pointer;
    }
  }




